#app,
#start,
#chat-wrapper {
	min-height: 100vh;
}

#app {
	background-color: aliceblue;
	width: 100vw;
}

.hide {
	display: none !important;
}

#start {
	display: flex;
	align-items: center;
}

#username-form {
	margin: 0 auto;
	text-align: center;
}

#chat-wrapper {
	display: flex;
}

#chat {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-right: 1px solid #555;
}

#chat .form-group {
	flex-grow: 1;
	display: flex;
}

#chat .form-group #message {
	flex-grow: 1;
}

#messages {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 0;
}

#messages li {
	align-self: flex-start;
	margin: 0.15rem;
}

#messages .message {
	padding: 0.5rem 0.75rem;
	background-color: #d3d3d3;
	border-radius: 0.75rem;
}

#messages .you {
	background-color: cornflowerblue;
	color: white;
	align-self: flex-end;
}

#users {
	flex-basis: 20%;
}

#users h2 {
	background-color: cornflowerblue;
	padding: 0.5rem 0.75rem;
	color: white;
}

#users ul {
	margin: 0;
	padding: 0.5rem 0.75rem;
	list-style: none;
}

#message-wrapper {
	flex-grow: 1;
}

#messages li .user {
	font-weight: bold;
}

#messages .notice {
	font-style: italic;
}
